input {
	background-color: #FF0000;
}

.input {
 	color: #00FF00;
 	font-size: 24px;
 	background-color: #AA0000;
 }

 body {
 	color: purple;
 	font-family: "Arial", "Verdana";
 }

 h5, h4, h3 {
 	color: #FF0000;
 }

 h5, h4{
 	font-size: 24;
 	margin: 0px 0px 0px 0px;
 }

 ul {
 	list-style-type: circle;
 }

table, tr, td {
	border: 1px #000000 solid;
}