body {
	text-align: center;
}

h1 {
	color: #FF1493;
	background: #000000;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 50%;
	margin: auto;
}

.descricaoJogo {
	color: #0000FF;
	background: #55FF00;
	padding-top: 10px
	padding-bottom: 10px;
	margin: 10px 0;
}